.row
  .col-md-8.col-md-offset-2
    <iframe height="1193" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://luckmgmt.wufoo.com/embed/m1o9xzpx0kurz5x/"><a href="https://luckmgmt.wufoo.com/forms/m1o9xzpx0kurz5x/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
