p
  | Where can one get Taiwanese-style fried chicken over rice, seasoned with a delicious home-cooked pork sauce, with tea eggs and handmade dumplings on the side? Earlier this summer, possibly the first Taiwanese-style food truck in the United States drove into town and opened for lunch at neighborhoods around New York City. The response? Long lines and lively word-of-mouth between friends and foodblogs—enough so that NYC Cravings sold out of their signature fried chicken at their first appearance in Midtown.