$purple: #61004D;

.clearfix{
  clear: both;
}
#bd-logo{
  float: left;
  height: 220px;
}

ul.nav.navbar-nav ul{
  text-align: center;
  margin: auto;
  li{
  margin-top: 50px;
  }
}

.container1{
  margin:auto;
}