$purple: #61004D;
// Nav
.clearfix{
  clear: both;
}
#bd-logo{
  float: left;
}
#bd-small{
  display: block;
}

.navbar-large{
  width: 800px;
  margin: auto;
}

nav{
  li{
    list-style-type: none;
  }
  .nav-li{
    float: left;
    padding: 20px 10px;
    list-style-type: none;
    font-weight: bold;
    display: block;
    border: 1px #000 dashed;
  }
  .nav-li-small{
    text-align: center;
    padding: 10px 10px;
    list-style-type: none;
    font-weight: bold;
    display: block;
    border: 1px #000 dashed;
  }
  a{
    text-align: center;
    display: block;
  }
}

@media(min-width:688px){.navbar-large{display:block}}
@media(max-width:688px){.navbar-large{display:none}}
@media(min-width:688px){.navbar-small{display:none}}
@media(max-width:688px){.navbar-small{display:block}}

//menu

.panel-default .panel-heading{
  background-color: $purple;
  color: #eee;
}