$purple: #61004D;

// Nav
.clearfix{
  clear: both;
}
.bd-logo{
  float: left;
  max-height: 75px;
  margin: 10px 10px;
}
#bd-small{
  display: block;
}

.navbar-large{
  width: 572px;
  margin: auto;
}

p, .item-desc{
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
nav{
  li{
    list-style-type: none;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .nav-li{
    float: left;
    padding: 35px 10px;
    list-style-type: none;
    display: block;
  }
  .nav-li-small{
    text-align: center;
    padding: 10px 10px;
    list-style-type: none;
    display: block;
  }
  a{
    text-align: center;
    display: block;
    &:active{
      color: $purple;
    }
  }
}

@media(min-width:688px){.navbar-large{display:block}}
@media(max-width:688px){.navbar-large{display:none}}
@media(min-width:688px){.navbar-small{display:none}}
@media(max-width:688px){.navbar-small{display:block}}

//menu

.panel{
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}
.panel-default{
  border: none;
}
.panel-default > .panel-heading{
  border-color: transparent;
  border: none;
  border-bottom: 10px #61004d solid;
  color: #61004d;
  background-color: transparent;
}
.menu-item{

  float: left;
  //border-bottom: solid $purple 2px;
}
.price{
  float: right;
}
.item-desc{
  padding: 0 10px;
  margin-top: 0px;
}

p{
  text-indent: 3em;
  font-size: 18px;
  line-height: 1.5em;
  margin: 1.5em 20px;
}

.tweet{
  padding: 0px 0px 10px 0px;
}
.bottom{
  padding: 0 40px;
}
footer, .footer{
  min-height: 20px;
  background: $purple;
  color: #eee;
}
.twitter-roll {
  background-image: url('tw-bw.png');
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.twitter-roll:hover {
  background-image: url('tw-color.png');
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.8);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

.facebook-roll {
  background-image: url('fb-bw.png');
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.facebook-roll:hover {
  background-image: url('fb-color.png');
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
